// main.scss
$primary-color: #85b883;
$menus-bg-color: #FFF6DE;

.ingredients-amount-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100px;
    background-color: white;
    border-radius: 4px !important;
    border: 1px solid rgb(73, 73, 73);
    padding: 0 9px;

    button {
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
        background-color: transparent;
    }

    input {
        width: 40px;
        height: 1rem;
        text-align: center;
        font-size: 1rem;
        appearance: textfield;
    }
}

.ingredients-menu__title {
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
    font-weight: 550;
    padding: 10px 5px;
    border-radius: 10px;
    text-align: center;
    color: #333;
    margin-bottom: 5px;
}

.ingredients__list ul {
    list-style-type: none;
    height: calc(100vh - 380px);
    width: calc(100% - 20px);
    transform: translateY(-10px);
    padding: 0;
    margin: 10px auto;
    overflow-y: scroll;
    background-color: transparent;

    li {
        padding: 0.5rem 0 0.2rem 0;
        background-color: rgb(230, 230, 230);
        border: 1px solid #000;
        border-radius: 10px;
        margin: 10px;

        .ingredients-name_and_amount {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 0.5rem;
            border-radius: 10px;
            margin-bottom: 0.5rem;

            label {
                position: relative;
                transform: translateX(-70px);
                font-family: 'Courier New', Courier, monospace;
            }

            .ingredients-amount-input {
                position: relative;
                left: 100px;
                margin: 0;
                padding-bottom: 0;
                height: 30px;
                box-sizing: border-box;
            }
        }

        .description {
            display: inline-block;
            font-size: 0.9rem;
            margin: 0.5rem 0.5rem 0rem 0.5rem;
            padding-left: 10px;
            padding-bottom: 10px;
            box-sizing: border-box;
            display: none;
            text-align: left;
        }

    //     &:hover .description{
    //     display: block;
    // }
}
}


// classes to hide or show the elements
.hiddeen {
    display: none !important;
}
.show {
    display: block !important;
}