.profilebag {
    border: 1px solid #000000;
    padding: 16px;
    border-radius: 8px;
    background-color: #e2e7e0;
    color: black;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

.text-info-profile {
    font-size: 14px;
    color: #000;
    text-align: left;
}

.profilebag h1 {
    font-size: 24px;
    margin-bottom: 8px;
}

.profilebag p {
    font-size: 16px;
    margin: 4px 0;
}

.profilebag {
    margin: 20px 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.profilebag.expanded {
    width: 220px;
    height: 30px;
    border-radius: 10px;
}

.text-info-profile.text-show {
    display: block;
}

.text-info-profile.text-shrink {
    display: none;
}

.text-info-profile {
    font-size: 12px;
    display: none;
}